
#fileManager_ContextMenu, #fileManager_ContextMenu .dxm-popupMain {
    min-width: 180px;
}

form {
    height: 100%;
}

body {
    margin: 0;
}
html, body{
    height:100%;
}
.full-height{
    height:100%;
}
